* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: #fff;
}

a {
  text-decoration: none;
}

*, html {
  scroll-behavior: smooth !important;
}

html,
body {
  height: 100%;
  width: 100%;
}

*::selection {
  background-color: #fff;
  color: #95c11e;
}

/* Loading Page */
.loading {
  display: block;
  text-align: center;
}

#content {
  display: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #23262d;
  z-index: 999;
}

.dot_container {
  width: 20vw;
  height: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  filter: url('#goo');
  animation: rotate_move 2s ease-in-out infinite;
}

.dot {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  background-color: #18f0fb;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dot_3 {
  background-color: #18f0fb;
  animation: dot_3_move 2s ease infinite, dot 6s ease infinite;
}

.dot_2 {
  background-color: #8937ec;
  animation: dot_2_move 2s ease infinite, dot 6s -4s ease infinite;
}

.dot_1 {
  background-color: #92ec37;
  animation: dot_1_move 2s ease infinite, dot 6s -2s ease infinite;
}

@keyframes dot_3_move {
  20% {transform: scale(1)}
  45% {transform: translateY(-18px) scale(.45)}
  60% {transform: translateY(-90px) scale(.45)}
  80% {transform: translateY(-90px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot_2_move {
  20% {transform: scale(1)}
  45% {transform: translate(-16px, 12px) scale(.45)}
  60% {transform: translate(-80px, 60px) scale(.45)}
  80% {transform: translate(-80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot_1_move {
  20% {transform: scale(1)}
  45% {transform: translate(16px, 12px) scale(.45)}
  60% {transform: translate(80px, 60px) scale(.45)}
  80% {transform: translate(80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes rotate_move {
  55% {transform: translate(-50%, -50%) rotate(0deg)}
  80% {transform: translate(-50%, -50%) rotate(360deg)}
  100% {transform: translate(-50%, -50%) rotate(360deg)}
}

@keyframes dot {
  0%, 100% {z-index: 3}
  33.3% {z-index: 2}
  66.6% {z-index: 1}
}

/* Scrollbar */
body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background: #95c11e;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 50px;
}

body {
  overflow-x: hidden;
}

/* Cursor */
#cursor {
  height: 1vw;
  width: 1vw;
  background-color: #95c11e;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
  transition: all linear 0.1s;
}

#cursor-blur {
  height: 30vw;
  width: 30vw;
  background-color: rgba(150, 193, 30, 0.3);
  border-radius: 50%;
  position: fixed;
  filter: blur(10vw);
  z-index: 9;
  transition: all linear 0.4s;
}

/* Navigation */
#nav {
  height: 10vw;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10vw;
  gap: 2vw;
  position: fixed;
  justify-content: flex-start;
  z-index: 999;
}

#nav img {
  height: 4.5vw;
}

#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.2vw;
}

/* Video */
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  position: fixed;
}

/* Main Content */
#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.39);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}

#page1 h1 {
  font-size: 7vw;
  font-weight: 900;
  position: relative;
}

#page1 h1::before {
  content: "SET. COUNT. ENJOY.";
  position: absolute;
  color: #000;
  top: -5px;
  left: -5px;
  -webkit-text-stroke: 1.5px #95c11e;
  z-index: -1;
}

#page1 h2 {
  font-size: 2.5vw;
  font-weight: 800;
  margin-top: 1vw;
  margin-bottom: 2vw;
}

#page1 p {
  font-size: 1.2vw;
  font-weight: 500;
  width: 40%;
}

#page1 #arrow {
  height: 10vw;
  width: 10vw;
  background-color: transparent;
  border: 2px solid #95c11e;
  position: absolute;
  display: flex;
  left: -2%;
  bottom: 0%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all ease 0.5s;
}

#page1 #arrow i {
  font-size: 2.5vw;
  font-weight: 100;
}

#page1 #arrow:hover {
  transform: scale(0.4);
  background-color: #95c11e;
}

/* Page 2 */
#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}

#scroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}

#scroller::-webkit-scrollbar {
  display: none;
}

#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 6vw;
  font-weight: 900;
  margin-right: 2vw;
  transition: all linear 0.3s;
  color: #000;
  -webkit-text-stroke: 2px #ffffff;
}

#scroller h4:hover {
  color: #95c11e;
  -webkit-text-stroke: 2px #95c11e;
}

@keyframes scroll {
  from {
    transform: translateX(16%);
  }
  to {
    transform: translateX(-43%);
  }
}

/* About Us */
#about-us {
  height: 40vh;
  width: 100%;
  display: flex;
  padding: 0 10vw;
  align-items: center;
  position: relative;
  z-index: 10;
  justify-content: space-around;
}

#about-us img {
  height: 15vw;
  width: 15vw;
  border-radius: 20px;
}

#about-us-in {
  width: 50%;
  text-align: center;
}

#about-us-in h3 {
  font-size: 3vw;
  font-weight: 800;
  margin-bottom: 1.5vw;
}

#about-us-in p {
  font-size: 1.5vw;
  line-height: 2vw;
}

/* Cards Container */
#cards-container {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  position: relative;
  z-index: 10;
  text-align: center;
}

.card {
  height: 60%;
  width: 20%;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all ease 0.6s;
}

#card1 {
  background-image: url(Assests/pic6.avif);
}

#card2 {
  background-image: url(Assests/pic2.jpg);
}

#card3 {
  background-image: url(Assests/pic3.jpg);
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: #95c11e;
  padding: 2vw;
  /* padding-top: 10vw; */
  opacity: 0;
  transition: all ease 0.6s;
  text-align: center;
}

.overlay h4 {
  color: #000;
  font-size: 3vw;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 1.5vw;
  font-weight: 800;
}

.overlay p {
  color: #000;
  font-size: 1.2vw;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover {
  transform: rotate3d(-1, 1, 0, 10deg);
}

/* Green Div */
#green-div {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left bottom, #119f3a, #ace022);
}

#green-div h4 {
  width: 45%;
  line-height: 5vw;
  color: #000;
  text-align: center;
  font-weight: 800;
  font-size: 2.5vw;
  text-transform: uppercase;
}

#green-div img {
  height: 15vw;
  object-fit: cover;
  width: 5vw;
}

/* Page 3 */
#page3 {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

#page3 > p {
  font-size: 2.5vw;
  font-weight: 700;
  width: 60%;
  line-height: 3vw;
  text-align: center;
}

#page3 img {
  position: absolute;
  height: 3vw;
}

#page3 #colon1 {
  left: 15%;
  top: 25%;
}

#page3 #colon2 {
  bottom: 30%;
  right: 15%;
}

/* Page 4 */
#page4 {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  position: relative;
}

.elem {
  height: 70%;
  width: 26%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.elem h2 {
  height: 100%;
  width: 100%;
  background-color: #95c11e;
  display: flex;
  color: #000;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
  font-size: 2vw;
  position: absolute;
  z-index: 10;
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
  scale: 1.1;
}

.elem:hover h2 {
  color: #fff;
  background-color: transparent;
}

.elem:hover img {
  scale: 1;
}

#page4 h1 {
  font-size: 6.4vw;
  position: absolute;
  top: -15%;
  font-weight: 900;
  font-family: gilroy;
  color: #000;
  -webkit-text-stroke: 2px #fff;
}

/* Footer */
#footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
  padding: 0 10vw;
}

#footer > img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}

#f1 img {
  height: 5vw;
}

#f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
}

#f2 h3,
#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  margin-bottom: 0.5vw;
}

#f4 h4 {
  font-size: 0.8vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  line-height: 1.5vw;
  margin-bottom: 0.5vw;
}

/* Sign Out Button */
#signoutbtn {
  height: 3vw;
  position: absolute;
  top: 32%;
  right: 5%;
  padding: 0 1.5vw;
  font-size: 1vw;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  color: #fff; 
  background: #009579;
  cursor: pointer;
  transition: 0.4s;
}

#signoutbtn:hover {
  background: #006653;
}

